@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");

.heading {
    background-color: rgb(0, 168, 50);
    padding: 2px;
}

.title {
    text-align: center;
    padding-top: 10px;
    font-family: 'Comfortaa';
    color: white;
}

p {
    text-align: center;
    padding: 1px;
    font-family: 'Comfortaa';
    color: white;
}